<!DOCTYPE html>
<html>
<head>
  <title><%=title%></title>
  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/admin">餐库-管理后台</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <% if (locals.session.user.isAdmin) { %>
          <li class="">
            <a href="/admin/user">用户列表</a>
          </li>
          <% } %>
          <li>
            <a href="/admin/shop">店铺列表</a>
          </li>
          <li>
            <a href="/user/logout">注销</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container">