<!DOCTYPE html>
<html>
<head>
  <title>canku.me admin</title>
  <script type="text/javascript" src="/js/jquery.js"></script>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="">
            <a href="/admin/">Home</a>
          </li>
          <li>
            <a href="/admin/shop">Shop</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container">