<% include ../header%>
<div class="wap columns clearfix">
  <section class="main clearfix inner">
    <div>
      <strong>今日订单付款</strong>
      <div class="today_order">
        <p>订单信息</p>
        <button class="btn btn-mini">付款</button>
      </div>
    </div>
    <!-- <hr>
    <div>
      <strong>转账付款</strong>
      <p></p>
      <label for="email">对方帐号</label>
      <input type="email" id="email"/>
      <button class="btn btn-mini">转账</button>
    </div>-->
  </section>
</div>
<% include ../footer%>