<!DOCTYPE html>
<html>
<head>
  <title>页面未找到 - 404</title>
</head>
<body>
<div style="width: 266px;height: 172px;position: absolute;left: 50%;top: 50%;margin-left: -133px;margin-top: -100px;">
  <a href="/" title="点击返回网站"><img src="/img/error404.gif" alt="">
  </a>
</div>
</body>
</html>