<% include header %>
<style type="text/css">
  h2 { font-weight: bold; line-height: 2em; margin-bottom: 10px; }
  .cnt ul { margin-bottom: 20px; }
  .cnt ul li { list-style: disc; margin-left: 40px; }
</style>
<div class="wap">
  <div class="cnt main inner clearfix" >
    <ul>
      <h3>2012-10-25</h3>
      <li>商品分类功能</li>
      <li>店铺样式自定义</li>
      <li>今日订单多店铺支持</li>
    </ul>
    <ul>
      <h3>2012-10-10</h3>
      <li>加入订餐运气值功能</li>
      <li>加入帐户设置功能</li>
    </ul>
    <ul>
      <h3>2012-09-01</h3>
      <li>同步内部订餐应用，新的设计，新的语言编写。</li>
    </ul>
    <ul>
      <h3>2011</h3>
      <li>Tajen</li>
    </ul>
  </div>
</div>
<% include footer %>