html { color: #000; background: #FFF }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td { margin: 0; padding: 0 }
table { border-collapse: collapse; border-spacing: 0 }
fieldset, img { border: 0 }
address, caption, cite, code, dfn, em, strong, th, var { font-style: normal; font-weight: normal }
ol, ul { list-style: none }
caption, th { text-align: left }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal }
q:before, q:after { content: '' }
abbr, acronym { border: 0; font-variant: normal }
sup { vertical-align: text-top }
sub { vertical-align: text-bottom }
input, textarea, select { font-family: inherit; font-size: inherit; font-weight: inherit }
input, textarea, select { *font-size: 100% }
legend { color: #000 }

html { background: #f1eee7 }
html, body, h1, h2, h3, h4, h5, h6, p, a, em, img, strong, tt, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, button, table, tr, th, td { margin: 0; padding: 0; border: 0 none; font-style: normal; font-size: 100%; font-family: inherit }
body, button, input, select, textarea { color: #666; font: 14px "Microsoft YaHei", '微软雅黑', "Microsoft JhengHei" }
table { border-collapse: collapse; border-spacing: 0 }
ol, ul { list-style: none outside none }
img { border: 0 none }

input, label { vertical-align: middle }
label { line-height: 30px; cursor: pointer }
input, textarea { display: inline-block; padding: 0 5px; border: 1px solid #d3d3d3; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset; font-size: 12px; line-height: 31px; height: 31px; }
textarea { overflow: auto; height: auto; vertical-align: top; resize: none; padding: 5px; line-height: 1.5em }
.btn { display: inline-block; padding: 5px 10px; width: auto; min-height: 32px; border: 0; background: #c02116; color: #fff; vertical-align: top; text-align: center; font-weight: 700; font-size: 14px; cursor: pointer; }
.btn:hover { background: #AA2105; color: #fff; text-decoration: none; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3) }
.btn:focus, .btn:active { border: 0; text-decoration: none }

a { outline: 0 none; color: #c02116; text-decoration: none }
a:focus { outline: 0 none }
a:hover, a:active { outline: 0 none; text-decoration: underline }
body { position: relative; color: #333; font-weight: normal; line-height: 20px; }
.clearfix { zoom: 1; _height: 1px }
.clearfix:after { clear: both; display: block; visibility: hidden; height: 0; content: "." }
.hide { display: none }

.input { width: 160px }
.price { width: 60px }
.wap { position: relative; margin: 0 auto; width: 960px }
.columns .left { display: table-cell; width: 670px; vertical-align: top; border-spacing: 0 }
.columns .right { display: table-cell; width: 290px; vertical-align: top; border-spacing: 0 }
.fixed { top: 0 }
.inner { padding: 20px; }
.left { float: left; }
.right { float: right; }

.session_form .item label { display: inline-block; margin-right: 5px; width: 50px; text-align: right }
.session_form .item { margin-bottom: 10px }
.session_form .item em { padding-left: 5px; color: #999; font-size: 12px }
.session_form .item input { width: 180px }

.block { margin-left: 30px; background: #fff }
.setting li { padding-left: 20px; line-height: 35px }
.post p { padding-bottom: 15px }
.post p .input { width: 200px }
.post p em { padding-left: 5px; color: #bbb; font-size: 12px }
.post p label { float: left; display: block; padding-right: 10px; width: 80px; text-align: right }
.post p span { color: #888; line-height: 30px }
.post p em.verify { color: #28a8c4 }
.title { margin: 25px auto; width: 190px; height: 64px; background: url(../img/logo.png) no-repeat }
.title span { display: none }

.auth_form { z-index: 2; position: absolute; left: 50%; top: 50%; margin-left: -125px; margin-top: 185px; padding: 10px 20px 20px 20px; width: 200px; background: #fff; font-size: 16px; box-shadow: 0 0 41px rgba(0, 0, 0, .3), 0 4px 0 rgba(255, 255, 255, .8), 0 5px 0 rgba(100, 100, 100, 0.4), 0 8px 0 rgba(255, 255, 255, .4), inset 0 0 5px rgba(255, 255, 255, .1); }
.auth_form a { font-size: 14px; line-height: 30px }
.auth_form h1 { font-size: 24px; line-height: 2em; margin-bottom: 10px; text-align: center; font-weight: bold; }
.auth_form .item input { width: 186px; }
.auth_form button { background: #c02116; float: right; }

.login-more { padding: 10px; text-align: center }
.logo a { float: left; width: 64px; height: 45px; background: url("../img/logo2.png") no-repeat }
.logo a:hover { width: 74px }
.logo a span { display: none }
.nav { margin-bottom: 20px; height: 45px; background: #c02116 }
.nav ul { position: absolute; top: 0; right: 0; }
.nav li { position: relative; float: left }
.nav li a { display: block; padding: 0 10px; color: #DDD; font-weight: 600; line-height: 45px }
.nav li a:hover { background: #a81f13; color: #fff; text-decoration: none }
.nav li a span { display: block; color: #999; font-size: 12px }
.nav li.nav_item_my:hover #nav_my { display: block }
#nav_my { position: absolute; top: 45px; right: 0; z-index: 100; display: none; width: 90px; border: 1px solid #ddd; background: #fff; background-clip: padding-box; box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1) }
#nav_my li { float: none; padding: 0 15px }
#nav_my li:hover { background: #eee; color: #666 }
#nav_my li a { margin-left: 0; padding: 0; color: #333; font-weight: normal; line-height: 2em }
#nav_my li a:hover { background: 0 }

#footer { border-top: 1px dashed #ccc; padding-top: 10px; color: #999; margin-top: 20px; }

.main { position: relative; overflow: hidden; background: #FFF }
.main h2 { margin-bottom: 30px; border-bottom: 1px solid #eaeaea; text-align: center }
.main h2 span { position: relative; top: 10px; padding: 0 20px; background: #fff; color: #888; font-weight: normal; font-size: 18px }
.login-info { float: right; margin: 0 5px; color: #ccc; line-height: 30px }
.login-info span { color: #666 }
.site-nav { margin-bottom: 10px; height: 30px; color: #999; line-height: 30px }
.site-nav i { margin: 0 5px; font-style: normal }
.page-title { padding: 0 20px; border-bottom: 1px solid #dcd8d8; background: #f8f7f3; font-size: 18px; line-height: 2.5em }
.page-title strong { padding-right: 5px; color: #28a8c4 }
.page-title em { color: #888; font-size: 14px }
.page-title span { padding-right: 5px; font-size: 14px }
.sidebar { padding: 10px 0; border-top: 1px solid #ccc }
.sidebar h4 { padding: 10px 0; font-size: 16px }
.sidebar .shoplist { padding: 4px; height: 30px; min-width: 120px; line-height: 30px }
.fav-item { position: relative; float: left; margin-right: 30px; margin-bottom: 30px; width: 300px; border: 1px solid #dfdfdf; border-radius: 5px }
.fav-item header { position: relative; padding: 10px; height: 70px }
.fav-item header h3, .fav-item header p { width: 200px; word-wrap: break-word; word-break: normal }
.fav-item header h3 { font-size: 16px }
.fav-item header p { padding: 5px; color: #888; font-size: 12px }
.fav-item header img { position: absolute; top: 10px; right: 10px; width: 64px; height: 64px; border: 1px dashed #ccc; border-radius: 4px }
.fav-item header span { position: absolute; bottom: -15px; left: 0; z-index: 2; display: block; width: 300px; height: 17px; background: url(../img/fav_bg.png) no-repeat }
.fav-item footer { border-radius: 5px; background: #fcfbf5 }
.fav-item footer p { float: left; padding: 10px 20px; color: #999 }
.fav-item footer p em { display: block; padding-top: 5px; color: #5f666c; font-size: 20px }
.fav-item footer span { position: absolute; bottom: -6px; left: 0; display: block; width: 300px; height: 6px; background: url(../img/fav_bg.png) 50% 100% no-repeat }
.fav-item footer a { position: absolute; right: 10px; bottom: 13px; width: 90px; height: 30px; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); border-style: solid; border-width: 1px; border-radius: 5px; background: #2bb4d0; background-image: -moz-linear-gradient(center top, #4ecfe4, #2bb4d0); background-repeat: repeat-x; color: #fff; text-align: center; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3); font-size: 16px; line-height: 28px }
.fav-item footer a:hover { background-image: -moz-linear-gradient(center top, #2bb4d0, #4ecfe4); text-decoration: none }
.fav-item footer a.on { border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1); background: #BBB; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) }

.food-item { position: relative; float: left; margin-right: 15px; margin-bottom: 10px; margin-top: 10px; width: 290px; background: #fff; padding: 10px; }
.food-item:nth-child(3n) { margin-right: 0; }
.food-item:hover { background: #fefbe0 }
.food-item h3, .food-item p { width: 210px; word-wrap: break-word; word-break: normal }
.food-item h3 { font-size: 16px; line-height: 30px }
.food-item p { color: #888; font-size: 12px; }
.food-item img { position: absolute; top: 12px; right: 10px; width: 64px; height: 64px; border: 1px dashed #ccc }
.food-item span { position: absolute; top: -1px; left: -5px; z-index: 2; display: block; width: 320px; height: 30px; background: url(../img/food_bg.png) no-repeat }
.food-list { margin-bottom: 20px }
.food-list li { position: relative; float: left; margin: 5px 15px 5px 0; padding: 5px 10px 5px 26px; width: 162px; height: 22px; border: 1px solid #e8e3ca; background: #fffdf4 url('../img/food-item.png') no-repeat 3px 3px; box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05); font-size: 15px }
.food-list li:hover, .food-list li.checked, .food-list li.checked:hover { border-color: #3faf0f; background-color: #3faf0f; background-position: 3px -51px; box-shadow: none; color: #fff; cursor: pointer }
.food-list li.checked { background-position: 3px -105px }
.food-list li.checked:hover { border-color: #d80100; background-color: #d80100; background-position: 3px -161px; }
.food-list li:hover em, .food-list li.checked em { color: #eee }
#deleteFood { cursor: pointer; }

.food-list li em { position: absolute; right: 10px; padding-left: 10px; color: #999; font-size: 14px }
.food-list .cat-title { border-bottom: 1px solid #BBB; font-size: 18px; -webkit-box-shadow: inset 0 -2px 0 #EEE; -moz-box-shadow: inset 0 -2px 0 #eee; box-shadow: inset 0 -2px 0 #EEE; margin: 20px 0; line-height: 3px; text-align: center; }
.food-list .cat-title span { background: #fff; padding: 0 15px; }

.result { display: block; margin: 40px auto; padding: 40px 0; border: 4px solid #EEE; border-radius: 5px; text-align: center }
.result h3 { padding: 10px; color: #28a8c4; font-weight: normal; font-size: 60px }
.result p { padding-top: 30px; color: #666; font-size: 16px }
.result-btn { color: #999; text-align: center; font-size: 16px }
.result-btn .btn { border-radius: 4px; font-weight: normal; font-size: 18px }
.share { margin: 40px auto; padding: 12px 30px; width: 250px; border-radius: 5px; background: #f5f5f5; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4) inset }
.share h6 { padding-bottom: 8px; font-weight: normal; font-size: 16px }
#cart { position: fixed; margin-left: 30px; width: 260px; background: #fff }
#cart h3 { padding: 6px 5px 6px 15px; height: 25px; border-bottom: 1px solid #ccc; background: #f7f7f7; color: #111; font-size: 18px; line-height: 25px }
.r_mycart { overflow: auto; max-height: 400px }
.r_mycart table { width: 100%; border: 0 none; border-collapse: collapse }
.r_mycart table th, .r_mycart table td { padding: 5px 2px; border-right: 1px solid #fff; border-bottom: 1px dashed #ccc; text-align: center }
.r_mycart table tr .ttl { padding-left: 15px; text-align: left }
.r_mycart table tr .del { padding-right: 10px }
.r_mycart table td a { color: #000; text-decoration: underline }
.r_mycart .cart_o_num { height: 20px; font-size: 12px }
.my_all_total { padding: 3px 10px 3px 10px; height: 21px; background: #f0f0f0; text-align: right; line-height: 21px }
.del_btn { display: block; overflow: hidden; width: 18px; height: 22px; background: url('../img/del.png') no-repeat 0 1px; line-height: 100px; zoom: 1 }
.del_btn:hover { background-position: 0 -17px }
.buy { padding: 5px 10px 5px 7px; height: 35px; line-height: 35px }
.buy-price { float: right }
.buy-btn { margin: 0 auto; padding: 3px 5px; height: 30px; background: #c63a3a; color: #fff; text-align: center; font-weight: bold; line-height: 30px }
.buy-btn:hover { background: #84201f; cursor: pointer }

.today_null { }
.today_null .txt { padding: 15px 0 20px 135px; background: #fff url('../img/empty.gif') no-repeat 10px 5px; }
.today_null .txt h3 { font-size: 30px; line-height: 30px; margin-bottom: 20px; }

#today-list { width: 62% }
#today-analytics { float: right; width: 33% }
.today-tb { float: left }
.today-tb td, .today-tb th { padding: 3px 10px; border: 1px solid #ccc }
.today-tb tr th { padding: 5px 10px; background: url(../img/me.gif) repeat; font-weight: bold; font-size: 15px }
.today-tb .name { overflow: hidden; width: 80px; max-width: 60px }
.today-tb .luck { padding: 0; width: 100px }
.today-tb .luck .bar { padding-right: 4px; padding-left: 1px; background: #690; color: #fff; text-align: center; font-size: 11px }
.today-tb .total {text-align: right }

.today-tb tbody tr:hover td { background: #fff59b; color: #000 }
.today-tb tbody tr.me td.name { border-color: #fff; background: green; color: #fff }
.today-tb tbody td.food ul { list-style-type: none }
.myorder { margin-bottom: 10px; width: 670px; background: #fff }
.myorder td { padding: 5px 10px; border: 1px solid #e6e6e6; vertical-align: top; line-height: 2em }
.myorder .sep-row td { border: 0 }
.myorder .sep-row { height: 7px }
.myorder .hd-row { background: #f3f3f3 }
.myorder .shop_name-td { width: 170px }
.myorder .total-td { width: 70px; font-weight: bold }
.myorder .meta-td { width: 100px }
.myorder .price-td { width: 50px }
.myorder .num-td { width: 50px }
.myorder .action-td { vertical-align: middle }
.reveal-modal-bg { position: fixed; top: 0; left: 0; z-index: 100; display: none; width: 100%; height: 100%; background: #000; background: rgba(0, 0, 0, .8) }
.reveal-modal { position: absolute; top: 100px; left: 50%; z-index: 101; visibility: hidden; margin-left: -155px; padding: 20px 30px 30px; width: 230px; background: #eee url(../img/modal-gloss.png) no-repeat -200px -80px; box-shadow: 0 0 10px rgba(0, 0, 0, .6) }
.reveal-modal h3 { margin-bottom: 20px; border-bottom: 1px solid #DDD; box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); color: #000; font-size: 18px; line-height: 2em }
.reveal-modal .close-reveal-modal { position: absolute; top: 8px; right: 11px; color: #aaa; text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.6); font-weight: bold; font-size: 22px; line-height: .5; cursor: pointer }
#confirm-list table td { padding: 5px 0; border-bottom: 1px solid #DDD; box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) }
#confirm-list table td em.price { margin-left: 10px; color: #999; font-size: 12px }
#confirm-list .foot { margin-top: 20px }
#confirm-list .btn { position: absolute; right: 30px; margin-top: -5px }
#confirm-list .total { font-weight: bold; font-size: 16px }
.timeout { color: red }
.fuck-ie6, .tip { margin: 20px auto 10px; padding: 6px 10px; background: #fff59b; text-align: center; font-size: 14px; }

table.data thead th, table.data tbody td { padding: 5px 4px 4px 6px; }
table.data thead th { text-align: left; font-size: 12px; font-weight: bold; border-right: 1px solid #ccc; border-top: 1px solid #ddd; border-bottom: 2px solid #ccc; text-shadow: 0px 1px 0px #fff; background: #f5f5f5;
    background: -moz-linear-gradient(top, #f5f5f5 0%, #e2e2e2 100%); background: -webkit-linear-gradient(top, #f5f5f5 0%, #e2e2e2 100%); background: -ms-linear-gradient(top, #f5f5f5 0%, #e2e2e2 100%); background: linear-gradient(top, #f5f5f5 0%, #e2e2e2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#e2e2e2', GradientType=0); }
table.data tbody td { text-align: left; font-size: 12px; font-weight: normal; border-right: 1px solid #ccc; border-bottom: 1px solid #ccc; }
table.data thead th.last, table.data tbody td.last { border-right: none; }
table.data tbody td.type-recharge { color: #0aa31c; font-weight: bold; }
table.data tbody td.type-pay { color: #c02116; font-weight: bold; }
table.data tbody td.txtr { text-align: right; }
table.data tbody td.describe { color: #888; }

