<!DOCTYPE HTML>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8">
  <title>添加餐馆</title>
</head>
<body>
  <form method="POST">
    <div class="item">
      <label for="name">名称</label>
      <input type="text" name="name" id="name">
    </div>
    <div class="item">
      <label for="address">地址</label>
      <input type="text" name="address" id="address">
    </div>
    <div class="item">
      <label for="tel">电话</label>
      <input type="tel" name="tel" id="tel">
    </div>
    <div class="item">
      <label>&nbsp;</label>
      <input type="submit" value="提交">
    </div>
  </form>
</body>
</html>